.clients {
    @include sectionpadding;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.clients__item {
    flex-basis: calc((100% - 30px)/2);
    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 60px)/3);
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 150px)/6);
        }
}

.clients__link {
    @include flexcentered;
    // width: 170px;
    height: 92px;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color var(--amimhover), border-color var(--amimhover);
    &:hover,
        &:focus {
            border-color: var(--main-blue);
            color: var(--main-blue);
        }
}

.clients__icon {
    fill: currentColor;
}

